*{
    padding: 0;
    margin: 0;
    font-family: roboto;
    color: #FFFF ;
}


body{
    background-color: black;
}
.form{
    /* padding: 10px 20px; */
    margin: auto;
    width: 302px;
    height: 552px;
    top: 123px;
    left: 46px;
    border-radius: 11px;

}

h3{
    font-family: cera pro;
    font-weight: 900;
    font-size: 24px;
    line-height: 30.17px;
    letter-spacing: -0.5%;
}


.parent{
    display: flex;
    margin-left: 42%;
}
.child1{
    margin-right: 5%;
}
.child2{
    margin-left: 5%;
}
.input-box{
    background-color: white;
    /* width: 90%; */
    /* max-width: 500px; */
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.input-box input{
    width: 100%;
    padding: 10px 0;
    border: 0;
    outline: 0;
    font-size: 24px;
    color: #555;
}

.input-box img{
    width: 35px;
    cursor: pointer;
}