*{
    padding: 0;
    margin: 0;
    font-family: roboto;
    color: #FFFF ;
}

form{
    margin: 10%;
    width: 298px;
    height: 322px;
    top: 186px;
    left: 46px;
    border-radius: 11px;
}

p{
    font-family: cera pro;
    font-weight: 700;
    size: 12px;
    line-height: 15.08px;
    height: 30px;
    width: 282;
    opacity: 40%;
}